	*{
		margin:0px;
		padding:0px;
	}

	body{
	font-family: 'Roboto', sans-serif;
	font-size: 0.813em; 
	width: 100%;
	min-width:300px;
	}
	

/*HEADER*****************************************************/
header{ /*menu fixo*/
	width: 100%; 
	height: 70px;
	position: fixed;
	z-index: 10000;
	min-width:320px;
	background-color: rgb(39,39,39);
}

header h1{ /* logo */
	position: absolute; top: 22%; left: 8%;
	display: inline;
	width: 9%; 
	min-width: 120px;
	height:47px;
	background-image:url(../imagens/icones/logo-digiudo-branco.png	);
	background-repeat:no-repeat;
	z-index:218;
	text-indent:-1000000px;

}

header ul{/* lista do menu*/
	position: absolute; top: 0%; left: 27%; 
	width: 50.5%; 
	height:40px;
	padding-top: 25px;
	padding-bottom: 5px;
}

header ul li{
	display: inline;
	list-style-type:none;
	
}


header ul li a{/* links do menu*/
	color: #fff;
	text-decoration:none;
	padding-left:1.5%; 
	padding-right:1.5%; 
	transition:0.5s;
	font-size: 135%; 
}

header ul li a:hover{ /* links do menu*/
	color:#ff9900;
	text-decoration:none;
	transition:0.5s;
}

div#area-busca{
	position: absolute; right: 8%; top: 0%;
	display: inline;
	width: 26.5%; 
	height: 70px;
}

input[name="pesq"]{ /*% referente a div#area-busca*/
	width: 66.5%; 
	height: 30px;
	position:absolute; top: 30%;  right: 0%; 
	z-index:9;
	padding-left: 8.5%;
	background-image:url(../imagens/icones/busq.png);
	background-repeat:no-repeat;
	background-size:20px;
	background-position: 4px 4px;	
}

label > span {
	display:none;
}
#menu{ /* Esse ID modifica o efeito da DIV do Menu JavaScript*/
	width: 100%; 
	height: 70px;
	position:fixed; top: 0%;
	z-index:9999;
	min-width: 320px;
	opacity: 1;
	background-color: rgb(39,39,39);
}
@media screen and (max-width:1050px){
	header ul li a{/* links do menu*/
		font-size: 110%; 
	}
	div#area-busca{
		position: absolute; right: 6%; top: 0%;
	}
	input[name="pesq"]{ /*% referente a div#area-busca*/
	padding-left: 15%;
}
}

@media screen and (max-width:960px){
input[name="pesq"]{ 
	padding-left: 15%;
}
	

header ul li a{/* links do menu*/
	font-size: 100%; 
}

div#area-busca{
	position: absolute; right: 6%; top: 0%;
}

}

@media screen and (max-width: 768px){
	header ul li a{/* links do menu*/
		font-size: 85%; 
	}

	header h1{ /* logo */
	position: absolute; top: 22%; left: 4%;
	}
}

@media screen and (max-width: 620px){
	header h1{
		top: 36%;
		background-image:url(../imagens/icones/logo-digiudo-mobile-branco.png);
		min-width:80px;
		width:2%;
	}
	
	header ul{
		left: 18%;
		width:60%;
	}
}

@media screen and (max-width:480px){
header{ /*menu fixo*/
	width: 100%; 
	height: 60px;
	position: fixed;
	z-index: 10000;
	min-width:320px;
	background-color:#272727;
}
#menu{
	height: 60px;
}
	div#area-busca{
		position: absolute; right: 35%; top: 0%;
		display: inline;
		width: 50.5%; 
		height: 70px;
	}
	
header h1{ /* logo */
	position:absolute; top: 36%; left: 5%;
	text-indent:-1000000px;
	display: inline;
	background-image:url(../imagens/icones/logo-digiudo-mobile-branco.png	);
	background-repeat:no-repeat;
	z-index:218;
}
.cabeca{
	padding: 3px 0px;
	position: relative;
	cursor: pointer;
	}
.lis{
	display:none;
	background-color:#393939;
}
	
header span{
	
	background-image:url(../imagens/icones/botao-entrar.png	);
	background-repeat:no-repeat;
	float:right;
	width: 8%; 
	height:25px;
	margin-right:5%;
	margin-top:20px;
}
header ul{/* lista do menu*/
	position:absolute; top:59%; left:0%;
	width: 100%; 
	height:40px;
	
}
header ul li{		
	display: block;
	list-style-type:none;
	padding:5px 0;
}

header ul li a{
	font-size: 1.2em; 
}

input[name="pesq"]{ 
	position:absolute; top: 22%;  right: -10%;
	width: 70%;
}


}

@media screen and (max-width:320px){
	header span{
		margin-right:10%;
	}
}